<div class="container">    
    <% if (!reportData || reportData.length === 0) { %>
        <div class="alert alert-dark" role="alert" 
            style="margin-top: 10px;">
            No existen registros que coinciden con los filtros seleccionados. 
            Por favor seleccione otros parámetros.
        </div>
    <% } else { %>
    <table id="reportTable">
        <thead>
            <tr>
                <th> Unidad </th>
                <th> Conductor </th>
                <th> Litros </th>
                <th> Kilometraje </th>
                <th> Rendimiento </th>
                <th> Fecha </th>
            </tr>
        </thead>
        <tbody>
            <% reportData.forEach(report => { %>
                <tr>
                    <td><%= report.idUnit.unitName %></td>
                    <td><%= report.idUser.username %> <%= report.idUser.lastName %></td>
                    <td><%= report.liters %></td>
                    <td><%= report.mileage %></td>
                    <td><%= report.efficiency %></td>
                    <td><%= new Date(report.loadDate).toLocaleDateString('en-CA') %></td>
                </tr>
            <% }) %>        
        </tbody>
    </table>
    <% } %>
</div>