<%- include('../includes/head.ejs') %>
<%- include('../includes/navbar.ejs') %>

<div class="container ps-5" style="margin-left: 150px;">
  <div id="titleContainer" style="margin-top: 40px; margin-left: 1rem; margin-bottom: 1rem;">
    <%- include('../includes/title.ejs', { title: 'Reportes' }) %>
  </div>

  <!-- FILTROS -->
  <div class="row align-items-start" style="margin-left: 7px;">  
      <div class="col-auto" style="margin-bottom: 10px;">
        <div class="datepicker-wrapper">
          <button type="button" class="btn btn-filter btn-lg" id="startDateBtn">
            <i class="bi bi-calendar-fill" 
              style="color: #3962B4; margin-right: 5px;"></i>
              <span class="label"> Fecha Inicio </span>
          </button>
            <input type="text" id="startDate" class="d-none" />
        </div>
      </div>
  
      <div class="col-auto d-flex align-items-center">
        <i class="bi bi-chevron-right fs-2" style="color: #182747;"></i>
      </div> 
    
      <div class="col-auto" style="margin-bottom: 10px;">
        <div class="datepicker-wrapper">
          <button type="button" class="btn btn-filter btn-lg" id="endDateBtn">
            <i class="bi bi-calendar-fill" 
              style="color: #3962B4; margin-right: 5px;"></i>
            <span class="label"> Fecha Fin</span>
          </button>
          <input type="text" id="endDate" class="d-none" />
        </div>
      </div> 
  
      <div class="col-auto" style="margin-bottom: 10px;">
        <div class="dropdown">
          <button class="btn btn-filter btn-lg dropdown-toggle" type="button" 
            id="driverSelect" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-fill" 
            style="color: #3962B4; margin-right: 5px;"></i> 
            <span class="label"> Conductor </span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="driverSelect">
            <li>
              <a class="dropdown-item" data-value="todos"> Todos </a>
            </li>
            <% drivers.forEach(driver => { %>
            <li><a class="dropdown-item"
              data-value="<%= driver.username %> <%= driver.lastName %>">
                <%= driver.username %> <%= driver.lastName %></a></li>
              <% }); %>
          </ul>
          <input type="hidden" id="selectedUnit">
        </div>
      </div> 
  
      <div class="col-auto" style="margin-bottom: 10px;">
        <div class="dropdown">
          <button class="btn btn-filter btn-lg dropdown-toggle" type="button" id="unitSelect" 
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-truck-front-fill" 
            style="color: #3962B4; margin-right: 5px;"></i> 
            <span class="label"> Unidad </span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="unitSelect">
            <li>
              <a class="dropdown-item" data-value="todos"> Todas </a> 
            </li>
            <% units.forEach(unit => { %>
            <li><a class="dropdown-item"
              data-value="<%= unit.unitName %>">
                <%= unit.unitName %></a></li>
              <% }); %>
          </ul>
          <input type="hidden" id="selectedDriver">
        </div>
      </div> 
    
      <div class="col-auto" style="margin-bottom: 10px;">   
        <div class="button-container">
          <button type="button" id="generarBtn" 
            class="btn button button-primary btn-lg">
            Generar
          </button>
        </div>
      </div>
  </div>

  <!-- ERRORES -->
  <div class="error-message d-none" id="date-mismatch" 
    style="margin-left: 18px; margin-bottom: 10px;">
    La fecha de inicio debe ser antes de la fecha fin.
  </div>

  <div class="error-message d-none" id="no-startDate" 
    style="margin-left: 18px; margin-bottom: 10px;">
    Por favor seleccione una fecha inicio.
  </div>

  <div class="error-message d-none" id="no-endDate" 
    style="margin-left: 18px; margin-bottom: 10px;">
    Por favor seleccione una fecha fin.
  </div>

  <div class="error-message d-none" id="no-unit" 
    style="margin-left: 18px; margin-bottom: 10px;">
    Por favor seleccione una unidad.
  </div>

  <div class="error-message d-none" id="no-driver" 
    style="margin-left: 18px; margin-bottom: 10px;">
    Por favor seleccione un conductor.
  </div>

  <!-- REPORTE -->
  <div class="loader hide-loader">
    <%-include('../includes/loader.ejs') %>
  </div>

  <div id="reportContainer" style="margin-top:10px; margin-left:8px;">
    <!-- ALERTA / TABLA -->
    <% if (!reportData) { %>
      <div class="alert alert-primary" role="alert" 
        style="margin-left: 12px; margin-top: 10px;">
          Seleccione los filtros deseados para generar el reporte.
      </div>
    <% } %>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

<script type="text/javascript" src="/../../js/reportButtons.js"></script>
<script type="module" src="/../../js/validationReport.js"></script>

<%- include('../includes/foot.ejs') %>