<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/driverStatistics.css">
<div class="main-driver-content">
  <div class="driver-header">
    <div>
      <h1 class="driver-title"><%= unit?.username || 'Unknown Driver' %></h1>
      <div class="stat-box-container">
        <%- include('../includes/statBox', { title: 'Viajes hechos', 
        value: totalTrips }) %>
        <%- include('../includes/statBox', { title: 'Rendimientos malos',
         value: badEfficiencies }) %>
      </div>
    </div>
    <div class="chart-section">
      <%- include('../includes/lineChart', {
        chartData: chartData,
        containerId: containerId
      }) %>
    </div>
  </div>
  <div class="table-section">
    <%- include('../includes/simpleTable', {
          data: tableData,
          columns: tableColumns,
          currentPage: currentPage,
          totalPages: totalPages,
          BaseRoute: BaseRoute
        }) %>
  </div>
</div>