<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/driverStatistics.css">
<div class="main-driver-content">
  <div class="driver-header">
    <div>
      <h1 class="driver-title"><%= unit?.username || 'Unknown Driver' %></h1>
      <div class="stat-box-container">
        <%- include('../includes/statBox', { title: 'Viajes hechos', value: totalTrips }) %>
        <%- include('../includes/statBox', { title: 'Rendimientos malos', value: '3' }) %>
      </div>
    </div>
    <div class="chart-section">
      <h2>Diesel Consumption by Day</h2>
      <div id="chart-container"></div>
    </div>
  </div>
  <div class="table-section">
    <h3>Last Reports (Page <%= currentPage %> of <%= totalPages %>)</h3>
    <%- include('../includes/simpleTable', {
          data: tableData,
          columns: tableColumns,
          currentPage: currentPage,
          totalPages: totalPages,
          BaseRoute: BaseRoute
        }) %>
  </div>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
  const data = <%- JSON.stringify(dieselData) %>;
  const margin = { top: 20, right: 30, bottom: 30, left: 40 },
        width  = 600 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;
  const svg = d3.select("#chart-container")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);
  data.forEach(d => { d.date = new Date(d.date); });
  const x = d3.scaleTime()
    .domain(d3.extent(data, d => d.date))
    .range([0, width]);
  const y = d3.scaleLinear()
    .domain([0, d3.max(data, d => d.liters)])
    .range([height, 0]);
  const line = d3.line()
    .x(d => x(d.date))
    .y(d => y(d.liters));
  svg.append("g")
    .attr("transform", `translate(0,${height})`)
    .call(d3.axisBottom(x));
  svg.append("g")
    .call(d3.axisLeft(y));
  svg.append("path")
    .datum(data)
    .attr("fill", "none")
    .attr("stroke", "steelblue")
    .attr("stroke-width", 2)
    .attr("d", line);
</script>
