<div class="modal" id="<%= typeof id !== 'undefined' ? id : '' %>" style="display: none;">
  <div class="modal-content clean">
    <!-- CÃRCULOS -->
    <img src="/imgs/modal1.png" class="modal-corner top-left">
    <img src="/imgs/modal2.png" class="modal-corner top-right">
    <img src="/imgs/modal3.png" class="modal-corner bottom-left">
    <img src="/imgs/modal4.png" class="modal-corner bottom-right">

    <!-- CONTENIDO -->
    <h2 class="modal-title"><%= titulo %></h2>
    <p class="modal-message"><%= mensaje %></p>

    <div class="btn-group">
      <% if (typeof botonConfirmacionTexto !== 'undefined') { %>
        <% if (typeof botonConfirmacionLink !== 'undefined' && botonConfirmacionLink) { %>
          <a href="<%= botonConfirmacionLink %>">
            <button class="btn-confirmacion"><%= botonConfirmacionTexto %></button>
          </a>
        <% } else { %>
          <button class="btn-confirmacion"><%= botonConfirmacionTexto %></button>
        <% } %>
      <% } %>

      <% if (typeof botonCancelarTexto !== 'undefined') { %>
        <% if (typeof botonCancelarLink !== 'undefined' && botonCancelarLink) { %>
          <a href="<%= botonCancelarLink %>">
            <button class="btn-cancelar"><%= botonCancelarTexto %></button>
          </a>
        <% } else { %>
          <button class="btn-cancelar"><%= botonCancelarTexto %></button>
        <% } %>
      <% } %>
    </div>
  </div>
</div>